.Table {
    font-family:  Arial, Helvetica, sans-serif;
   
    width: 80%;
    margin: 0 auto;
  }
  
  .Table td,
  .Table th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 33%;
  }
  
  .Table tr:nth-child(even) {
    background-color: white;
  }
  
  .Table tr:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #414441;
    color: white;
  }
  